body {
    background-color: white;
}

.bgc {
    background-image: url(https://images.unsplash.com/photo-1571292098320-997aa03a5d19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 300;
       
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #1261A0;
    font-weight: 400;
}

#mainNavbar .navbar-brand {
    color: #1261A0;
    font-size: 1.5rem;
} 

#one {
    padding: 20px;
}

#one h1 {
    text-align: center;
    font-size: 1.5rem;
}

#one p {
    text-align: justify;
}

.butProf {
    background-color: #7699D4;
    color: white;
}
.butProf:hover {
    background-color:#1261A0;
    color: white;
}

#Sign {
    width: 30%;
    margin: 100px auto;
    
}

#infoIn {
    width: 50%;
    margin: 100px auto;
}

#Imag {
    margin-left: 100px;
}

#signImg {
    margin-left: 40%;
    padding-top: 25px;
}

.fa-times-circle, .fa-check-circle {
    color: lightgray;
}

.yes {
    color: green;
}

.no {
    color: red;
}

.table {
    background-color: rgba(255, 255, 255, 0.6);
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;

}

